cert.k8.ru {
    encode gzip

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /admin/* {
        reverse_proxy api:8000
    }

    handle /health {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy web:3000
    }
}
